#adminMainContainer {
  width: 100%;
  height: 90vh;
  margin-top: 10vh;
}

#dropdownMenuSelectQuiz {
  padding: 4px;
}
#inputCreateQuiz {
  overflow: unset;
  padding: 4px;
  min-width: 20ch;
}

#jsonInput {
  overflow: auto;
  width: 80%;
  min-height: 20vh;
  max-width: 40vw;
}

#adminContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;

  & > .colAdmin {
    width: 100%;

    & textarea {
      resize: vertical;
      min-height: 1ch;
      height: auto;
      overflow: hidden;
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 4px;
      &::placeholder {
        vertical-align: middle;
      }
    }
  }
  & > .colAdmin.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1rem;
    align-items: center;
    height: 100%;
  }

  & .adminContainerEdit {
    margin-top: 0;
  }
}

#tableAdmin {
  & > tbody {
    display: block;
    max-height: 72vh;
    overflow-y: scroll;
  }
}

#containerInputsNewWord {
  display: flex;
  margin-bottom: 1rem;
}

#containerInputsNewWordTableAdmin {
  width: fit-content;
}

#navMenuDesktopAdmin {
  height: 8vh;
  & > #drawerDesktop {
    padding-right: 0rem;
  }
  & > #drawerDesktop > ul > li > a {
    padding: 0rem 0rem 2rem 1rem;
    font-size: 1.2rem;
  }
}

#adminMenuAddCollection {
  display: flex;
  height: 82vh;
  & > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  & > .colAdmin.right {
    justify-content: flex-start;
    align-items: center;
  }
}

#tableAdmin.adminAddTable {
  display: block;
}

#tableAdmin.adminAddTable {
  & > thead {
    display: block;
    width: 100%;
    & > tr {
      padding-right: 1rem;
      display: flex;
      justify-content: space-around;

      & > th {
        width: 100%;
        font-size: 1rem;
        text-align: center;
        padding: 0 0 0.5rem 0;
      }
    }
  }

  & > tbody {
    display: block;
    max-height: 72vh;
    overflow-y: scroll;
    width: fit-content;
  }
  & tr {
    height: 100%;
    & > td {
      height: 100%;

      & > input {
        display: block;
        height: 100%;
      }
    }
  }
}
