#adminMainContainer {
  width: 100%;
  height: 88vh;
  margin-top: 12vh;
}

#adminContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 100%;
  & > .colAdmin {
    width: 100%;
    & textarea {
      resize: vertical;
      min-height: 1ch;
      height: auto;
      overflow: hidden;
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 4px;
      &::placeholder {
        vertical-align: middle;
      }
      &#jsonInput {
        overflow: auto;
        width: 80%;
        min-height: 12rem;
      }
    }
  }
  & > .colAdmin.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1rem;
    align-items: flex-end;
    height: 100%;
  }

  & .adminContainerEdit {
    margin-top: 0;
  }
}

#tableAdmin {
  & > tbody {
    display: block;
    max-height: 75vh;
    overflow-y: scroll;
  }
}

#containerInputsNewWord {
  display: flex;
  margin-bottom: 1rem;
}

#containerInputsNewWordTableAdmin {
  width: fit-content;
}
