// Define mixins and variables
@mixin user-no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

$modal-style: rgba(24, 24, 24, 0.85);
$btnCarrousel-style: transparent;
$small-screen: 500px;

// Styles start here
#histoiresMainContainer {
  margin: 2rem 0 0 0;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

#histoiresContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 12px;

  & > img {
    width: 100%;
    cursor: pointer;
    aspect-ratio: 1/1.5;
  }
}

#modalHistoires {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $modal-style;
  z-index: 200;
  @include flex-center(column);
  gap: 12px;

  & > img {
    width: 80%;
    aspect-ratio: 3/4;
  }

  & > p {
    width: 80%;
  }

  & .btnCarrouselPrevSuiv {
    height: 65%;
    width: 50vw;
    @include flex-center;
    cursor: pointer;
    font-size: 2rem;
    @include user-no-select;
    -webkit-tap-highlight-color: $btnCarrousel-style;

    &.prev {
      justify-content: flex-start;
      position: absolute;
      left: 0;
    }

    &.suiv {
      justify-content: flex-end;
      position: absolute;
      right: 0;

      & > img {
        transform: rotate(180deg);
      }
    }
  }

  & .btnCarrouselQuit {
    position: absolute;
    @include flex-center;
    bottom: 4vh;
    right: 50%;
    transform: translateX(50%);
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(15, 15, 15, 0.681);

    & > p {
      margin: 0;
      padding: 0;
    }
  }
}

.filterHistoires {
  width: 100%;
  @include flex-center;
  gap: 1rem;
  justify-content: center;
  margin: 0 0 2rem 0;

  & > div {
    width: 100px;
  }
}

.histoire {
  @include user-no-select;
}

@media only screen and (min-width: $small-screen) {
  #histoiresMainContainer {
    margin: 5rem 0 0 0;
  }

  #histoiresContainer {
    padding: 0rem 1rem;
    @include flex-center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;

    & > img {
      width: 5rem;
      aspect-ratio: 1/1.5;
    }
  }

  #modalHistoires {
    @include flex-center;
    justify-content: space-between;

    & > img {
      height: 80vh;
      width: auto;
      min-width: 300px;
    }

    & .btnCarrouselPrevSuiv {
      position: relative;
      height: 100%;
      width: 30vw;
      @include flex-center;
      cursor: pointer;
      font-size: 10rem;
      @include user-no-select;
      background-color: $btnCarrousel-style;

      &.prev,
      &.suiv {
        position: relative;
        justify-content: center;
      }

      &.suiv > img {
        transform: rotate(180deg);
      }
    }

    & .btnCarrouselQuit {
      position: absolute;
      top: 0;
      right: 0;
      bottom: auto;
      height: 100px;
      width: 100px;
      font-size: 5rem;
      cursor: pointer;
      background-color: $btnCarrousel-style;
      transform: translate(0);
      font-size: 2rem;
    }
  }

  .filterHistoires {
    & > div {
      width: 200px;
    }
  }
}
