$soft-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);

.quiz-container {
  width: 100%;
  /*   min-height: 100vh; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  /*   padding-top: 8rem;
 */
}
.midCol-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  min-width: 12ch;
  width: 80%;
  height: 65vh;
  & label,
  form,
  input {
    min-width: 16ch;
    max-width: 32ch;
  }
  & label {
    display: flex;
    > .btn {
      border-radius: 0 4px 4px 0;
    }
  }

  & input {
    padding: 4px 8px;
    box-sizing: border-box;
    font-size: 1rem;
  }
}

#errorQuiz {
  color: red;
  font-size: small;
}
.previousWord {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 1.5rem;
}

#streakCounter {
  font-size: 1.5rem;
}

@media only screen and (min-width: 500px) and (orientation: landscape) {
  .quiz-container {
    height: 25vh;
    display: flex;
    flex-direction: column;
  }
  .midCol-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 100%;
    padding-bottom: 0;
    justify-content: flex-start;
  }
}
