$soft-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);

.quiz-container {
  width: 100%;
  /*   min-height: 100vh; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  /*   padding-top: 8rem;
 */
}
.midCol-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  min-width: 12ch;
  width: 80%;
  height: 65vh;
  & label,
  form,
  input {
    min-width: 16ch;
    max-width: 32ch;
  }
  & label {
    display: flex;
    > .btn {
      border-radius: 0 4px 4px 0;
    }
    &.correct {
      box-shadow: 0 0 0 3px #0ec30e;
    }
    &.false {
      box-shadow: 0 0 0 3px #c30e0e;
    }
  }

  & input {
    padding: 4px 8px;
    box-sizing: border-box;
    font-size: 1rem;
  }
}

#errorQuiz {
  color: red;
  font-size: small;
}
.previousWord {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 1.5rem;
}

#streakCounter {
  font-size: 1.5rem;
}

.switch {
  position: absolute;
  display: inline-block;
  width: 80px;
  height: 40px;
  bottom: 1rem;
  right: 1rem;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.4s;
    &:before {
      position: absolute;
      content: "";
      height: 38px;
      width: 38px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      border-radius: 50%;
      transition: 0.4s;
    }
  }
  input:checked + .slider {
    background-color: #2196f3;
  }
  input:checked + .slider:before {
    transform: translateX(40px);
  }

  &::before {
    content: "Daz mode";
    white-space: nowrap;
    height: 100%;
    position: absolute;
    bottom: -10px;
    right: 90px;
    font-size: 1rem;
    color: #ccc;
  }
}

@media only screen and (min-width: 500px) and (orientation: landscape) {
  .quiz-container {
    height: 25vh;
    display: flex;
    flex-direction: column;
  }
  .midCol-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 100%;
    padding-bottom: 0;
    justify-content: flex-start;
  }
}
