$soft-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);

.quiz-container {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, auto); /* creates 3 columns */
  gap: 1rem;
  font-size: 2rem;
  align-content: start;
  padding-top: 12vh;
}

.leftCol-quiz {
  grid-row: 2;
}
.rightCol-quiz {
  grid-row: 3;
}
.midCol-quiz {
  display: flex;
  grid-row: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  /*   height: 30vh; */
  & label,
  form,
  input {
    min-width: 16ch;
    /*     max-width: 32ch;
 */
  }
  & label {
    display: flex;
    > .btn {
      border-radius: 0 4px 4px 0;
    }
    &.correct {
      box-shadow: 0 0 0 3px #0ec30e;
    }
    &.false {
      box-shadow: 0 0 0 3px #c30e0e;
    }
  }

  & input {
    padding: 4px 8px;
    box-sizing: border-box;
    font-size: 1rem;
  }
  & p:empty {
    min-height: 0.8rem; /* définit une hauteur minimale d'une ligne */
  }
}

#errorQuiz {
  color: red;
  font-size: 0.8rem;
}
.previousWord {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 1.5rem;
  & p:nth-child(1) {
    padding-bottom: 8px;
  }
}

#streakCounter {
  font-size: 1rem;
}

.switch {
  position: absolute;
  display: inline-block;
  width: 70px;
  height: 35px;
  bottom: 1rem;
  right: 1rem;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.4s;
    &:before {
      position: absolute;
      content: "";
      height: 32px;
      width: 32px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      border-radius: 50%;
      transition: 0.4s;
    }
  }
  input:checked + .slider {
    background-color: #2196f3;
  }
  input:checked + .slider:before {
    transform: translateX(35px);
  }

  &::before {
    content: "Daz mode";
    white-space: nowrap;
    height: 100%;
    position: absolute;
    bottom: -10px;
    right: 90px;
    font-size: 1rem;
    color: #ccc;
  }
}

#filtersQuiz {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  & > p {
    font-size: 1rem;
    /*     margin-bottom: 0.5rem; */
    text-align: start;
  }
}
.filterQuizCat {
  & > button {
    background-color: rgb(96, 104, 108);
    color: rgb(232, 230, 227);
    font-size: 1rem;
    border: none;
    margin: 0;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
    outline: 1px solid rgb(96, 104, 108);
    -webkit-tap-highlight-color: transparent;
    &.fliterQuizButtonSelected {
      background-color: transparent;
    }
  }
}

#filterQuizHiraKata {
  width: 100%;
  display: flex;
  gap: 0.2rem;
  flex-direction: row;
  > button {
    width: 100%;
    outline: 1px solid rgb(96, 104, 108);
    background-color: transparent;
  }
}
#filterQuizOthers {
  display: flex;
  gap: 0.2rem;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (min-width: 500px) and (orientation: landscape) {
  .quiz-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* creates 3 columns */
    grid-template-rows: 1fr; /* creates 3 columns */
  }
  .leftCol-quiz {
    grid-row: auto;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rightCol-quiz {
    grid-row: auto;
    grid-column: 3;
  }
  .midCol-quiz {
    display: flex;
    grid-row: auto;
    grid-column: 2;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding-bottom: 0;
    justify-content: center;
    & > * {
      width: 80%;
      box-sizing: border-box;
    }
    & input {
      width: 100%;
    }
  }
}
