$soft-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);

@mixin user-no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftCol {
  display: none;
}

.deck-container {
  width: 100%;
  height: 100%;
  @include flex-center;
  flex-direction: column;
  gap: 1rem;
  padding-top: 8vh;
}

.midCol {
  @include flex-center;
  flex-direction: column;
  gap: 1rem;

  & > .btn {
    min-width: 200px;
    width: 300px;
  }
}

.card-container {
  background-color: rgb(28, 115, 141);
  border-radius: 5px;
}

.deckBtnContainer {
  width: 100%;
  @include flex-center;
}

.btn {
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: rgb(96, 104, 108);
  border-color: rgb(62, 68, 70);
  color: rgb(232, 230, 227);
  text-decoration-color: initial;
}

.filtersContainer {
  width: 300px;
}

.allFilters {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & > button {
    width: 100%;
  }
}

.allFiltersBtnToggleAll {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin: 0 0 1rem 0;

  & > button {
    width: 100%;
  }

  &.hiraganasSubFilters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > label {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      gap: 0.5rem;

      & > input {
        margin-right: 0;
      }
    }
  }
}

.selectKanas {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0.2rem;
  grid-row-gap: 0.2rem;

  & > p {
    cursor: pointer;
    padding: 4px;
    border-radius: 2px;
    background-color: transparent;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-color: rgb(51, 55, 57);
    @include user-no-select;

    &.kanaSelected {
      padding: 4px;
      border-radius: 2px;
      background-color: rgb(56, 134, 77);
      color: rgb(226, 223, 219);
    }
  }
}

.allFiltersHiraganas {
  display: block;

  &.hidden {
    display: none;
  }
}

.buttonsFiltersContainer {
  display: flex;
  gap: 0.5rem;
}

.btnToggleFilterHiraganas {
  @include flex-center;
  flex-direction: column;
  width: 100%;
  text-align: start;
  padding: 0.5rem;
  font-size: large;
  cursor: pointer;
  @include user-no-select;
  background-color: rgb(53, 57, 59);
  color: rgb(232, 230, 227);
}

.btnToggleFilterSelected {
  transform: scale(1.08);
  border: 1px solid rgb(96, 104, 108);
  background-color: hsl(200, 5%, 25%);
  box-shadow: $soft-shadow;
}

@media only screen and (min-width: 1050px) and (orientation: landscape) {
  .deck-container {
    display: flex;
    flex-direction: row;
    height: 100vh;

    & > div {
      width: 100%;
      flex-grow: 1;
    }
  }

  .leftCol {
    @include flex-center;
    flex-direction: column;
    justify-content: center;
    color: transparent;
  }

  .buttonsFiltersContainer {
    flex-direction: column;

    & > div {
      flex-grow: 1;
    }

    &.rightColKanas {
      flex-direction: row;
    }
  }

  .leftColBtnRowAll {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .selectKanas {
    grid-row-gap: 0.1rem;
    grid-column-gap: 0.1rem;
  }

  .filtersContainer {
    width: auto;
    height: 100%;
    display: flex;
  }

  .allFilters {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .allFiltersBtnToggleAll {
    display: flex;
    gap: 0.5rem;
    justify-content: center;

    & > button {
      width: 100%;
    }

    &.hiraganasSubFilters {
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      &:last-child {
        margin: 0;
      }

      & > label {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 0.5rem;

        & > input {
          margin-right: 0;
        }
      }
    }
  }

  .btnToggleFilterHiraganas {
    @include flex-center;
    flex-direction: column;
    width: 100%;
    text-align: start;
    padding: 0.5rem;
    font-size: large;
    cursor: pointer;
    background-color: rgb(53, 57, 59);
    color: rgb(232, 230, 227);

    &:hover {
      border: 1px solid rgb(96, 104, 108);
      box-shadow: $soft-shadow;
    }
  }

  .btnToggleFilterSelected {
    transform: scale(1.08);
    border: 1px solid rgb(96, 104, 108);
    box-shadow: $soft-shadow;
  }
}
